@use "./variables" as *;

button {
  background-color: $color-dark;
  color: $color-white;
  padding: 0.5em 1em;
  border: $color-accent solid 2px;
  border-radius: 5px;
  transition: background-color 300ms;
}

button:hover {
  background-color: $color-accent;
  border: solid $color-dark 2px;
  color: $color-dark;
}
