@use "./variables" as *;
.header {
  font-family: "Montserrat", sans-serif;

  &__greeting {
    display: inline-block;
    margin-block: 1rem;
    font-weight: 500;
  }

  &__title {
    margin: 3rem auto;
    font-size: 3rem;
    background-image: linear-gradient(to left, $color-accent, $color-dark);
    color: transparent;
    background-clip: text;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  // desktop cartoon hidden in mobile
  &__image {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__greeting {
      font-size: 2rem;
    }

    &__title {
      font-size: 6rem;
    }

    &__intro {
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      overflow: visible;
    }
  }
}
