@use "./variables" as *;
.projects {
  font-size: 1.25rem;

  h2 {
    margin: 1rem;
  }

  .project-card {
    margin: 3rem auto;

    &__image {
      max-width: 100%;
      width: 100%;
      box-shadow: 5px 5px 20px $color-dark, inset -5px -5px 20px $color-dark;
    }

    &__tech-language {
      font-size: 1rem;
      font-weight: bold;
    }

    &__title {
      font-size: 2rem;
    }

    &__description {
      margin-block: 1rem;
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .project-card {
    &__image {
      max-width: 80%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    .project-container {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }
  }
}
