@use "./variables" as *;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }
}

body {
  background-color: $color-background--light;
}

header,
main {
  margin: 2.5rem;
}

main {
  line-height: 1.75;

  h2 {
    text-align: center;
  }
}
