// colours

$color-white: #ffffff;
$color-black: #030000;
$color-dark: #2d2d2aff;
$color-background: #848fa5ff;
$color-accent: #ff934fff;

// fonts

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@600&display=swap");
