@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
* a {
  text-decoration: none;
  color: inherit;
}

header,
main {
  margin: 2.5rem;
}

button {
  background-color: #ffffff;
  color: #562e4a;
  padding: 0.5em 1em;
  border: #562e4a solid 2px;
  border-radius: 5px;
}

.header {
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}
.header__greeting {
  display: inline-block;
  margin-block: 1rem;
  font-weight: 500;
}
.header__title {
  width: 75vw;
  margin: 3rem auto;
  font-size: 3rem;
}
.header__image {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    gap: 3rem;
  }
  .header__greeting, .header__title {
    width: 40vw;
  }
  .header__intro {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
    overflow: visible;
  }
  .header__image {
    display: block;
  }
}
nav {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    font-size: 1.25rem;
    padding: 2em 4em;
    display: flex;
    justify-content: space-between;
  }
  nav .nav-right,
  nav .nav-links {
    display: flex;
  }
  nav .nav-links {
    gap: 1rem;
  }
  nav .nav-right {
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  nav .nav-links {
    gap: 2rem;
  }
  nav .nav-right {
    gap: 4rem;
  }
}
footer {
  background-color: #030000;
  color: #ffffff;
  padding: 3.5em;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
footer .footer-icons {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
main {
  line-height: 1.75;
}
main h2 {
  text-align: center;
}

.about-me__image {
  max-width: 100%;
}
.about-me__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about-me__title--desktop {
  display: none;
}

.technical-skills {
  margin: 4rem auto;
}
.technical-skills__header {
  font-size: 1.75rem;
}
.technical-skills__description {
  margin-top: 1.5rem;
  text-align: center;
}
.technical-skills__icons {
  overflow: visible;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.technical-skills__image {
  width: 17vw;
}
.technical-skills__image img {
  width: 100%;
}

.projects {
  font-size: 1.25rem;
}
.projects h2 {
  margin: 1rem;
}
.projects .project-card {
  margin: 3rem auto;
}
.projects .project-card__image {
  max-width: 100%;
}
.projects .project-card__tech-language {
  font-size: 1rem;
  font-weight: bold;
}
.projects .project-card__title {
  font-size: 2rem;
}
.projects .project-card__description {
  margin-block: 1rem;
}
.projects .project-card .buttons {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 440px) {
  .about-me {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .about-me__image {
    max-width: 350px;
    align-self: center;
  }
  .technical-skills {
    margin: 4rem auto;
  }
  .technical-skills__icons {
    margin-top: 4rem;
    width: 100%;
    gap: 1rem;
  }
  .technical-skills__image {
    max-width: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .about-me {
    gap: 2rem;
  }
  .about-me__text {
    flex-direction: row;
    gap: 2rem;
  }
  .technical-skills__icons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1024px) {
  .about-me {
    flex-direction: row;
    gap: 5rem;
  }
  .about-me__text {
    flex-direction: column;
  }
  .about-me__title {
    display: none;
  }
  .about-me__title--desktop {
    display: block;
  }
  .about-me__image {
    align-self: flex-start;
    min-width: 400px;
    max-width: 30vw;
  }
  .technical-skills__icons {
    margin: 1rem auto;
  }
  .projects .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}/*# sourceMappingURL=main.css.map */