@use "./resets";
@use "./button";
@use "./header";
@use "./nav.scss";
@use "./footer";
@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@600&display=swap");

main {
  h2 {
    text-align: center;
  }
  line-height: 1.75;
}

.about-me {
  &__image {
    max-width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title--desktop {
    display: none;
  }
}

.technical-skills {
  margin: 4rem auto;

  &__header {
    font-size: 1.75rem;
  }

  &__description {
    margin-top: 1.5rem;
    text-align: center;
  }

  &__icons {
    overflow: visible;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  &__image {
    width: 17vw;
    img {
      width: 100%;
    }
  }
}

.projects {
  font-size: 1.25rem;

  h2 {
    margin: 1rem;
  }

  .project-card {
    margin: 3rem auto;

    &__image {
      max-width: 100%;
    }

    &__tech-language {
      font-size: 1rem;
      font-weight: bold;
    }

    &__title {
      font-size: 2rem;
    }

    &__description {
      margin-block: 1rem;
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 440px) {
  .about-me {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__image {
      max-width: 350px;
      align-self: center;
    }
  }

  .technical-skills {
    margin: 4rem auto;

    &__icons {
      margin-top: 4rem;
      width: 100%;
      gap: 1rem;
    }

    &__image {
      max-width: 5rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .about-me {
    gap: 2rem;

    &__text {
      flex-direction: row;
      gap: 2rem;
    }
  }

  .technical-skills {
    &__icons {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin: 2rem auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about-me {
    flex-direction: row;
    gap: 5rem;

    &__text {
      flex-direction: column;
    }

    &__title {
      display: none;

      &--desktop {
        display: block;
      }
    }

    &__image {
      align-self: flex-start;
      min-width: 400px;
      max-width: 30vw;
    }
  }

  .technical-skills {
    &__icons {
      margin: 1rem auto;
    }
  }

  .projects {
    .project-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }
  }
}
